*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --bg-color: #fff;
    --text-color: #000;
}
.dark-mode{
    --main-color: #2196f3;
    --bg-color: #484848;
    --text-color: #000;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: var(--bg-color);
}

p, span, h1, h2, h3, h4, h5, h6{
    color: var(--text-color);
}
button{
 cursor: pointer;   
}
.btn-dark button{
    position: absolute;
    top: 24px;
    left: 16px;
    border: none;
    padding: 6px;
    border-radius: 10px;
}
.btn-dark img{
    width: 30px;
}
.header{
    padding: 1.5rem;
    display: flex;
    justify-content: end;
}
.header button{
    border-radius: 32px;
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    color: #fff;
}
.header .reset{
    background-color: orange;
    margin: 0 1rem;
}
.header .play-again{
    background-color: var(--main-color);
}
.container{
    width:80%;
    margin: auto;
}
.info{
    text-align: center;
    margin-top: 3rem;
}
.tries{
    display: inline-block;
    font-size: 20px;
    background-color: #dedede;
    padding: 12px 32px;
    border-radius: 32px;
}
.tries p{
    font-size: 16px;
    font-weight: 600;
}
.triesNum{
    color: #333;
    font-weight: 800;
    margin-left: 16px;
}
.game-block{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 15px;
    justify-content: center;
}
.game-block.no-click{ pointer-events: none;}
.game-block .card{
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
    transition: transform .2s;
    transform-style: preserve-3d;
}
.card .back img{
    width: 95px;
    height: 95px;
}
.card .front{
    background-color: #333;
    line-height: 130px;
    border-radius: 50%;
}
.card .back{
    border: none;
    transform: rotateY(180deg);
    border-radius: 50%;
}
.card.is-flipped .back{
    background: none;
    border: none;
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid var(--main-color);
}
.card.match,
.card.is-flipped{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.popup .msg{
    background-color: var(--main-color);
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}
.popup .close{
    position: absolute;
    top: 16px;
    left: 20px;
    padding: 8px;
    font-size: 16px;
    background: #111;
    border: none;
    color: #fff;
    border-radius: 8px;
}
.msg p{
    margin-bottom: 20px;
}
.msg .play-again{
    padding: 5px 16px;
    background-color: #fff;
    color: var(--main-color);
    margin: 16px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}
.none{
    display: none;
}

@media (max-width: 769px) {
    .header{
        padding: 1rem;
    }
    .container{
        width: 85%;
        margin-top: .5rem;
    }
}
@media (max-width: 426px){
    .btn-dark button {
        top: 16px;
    }
    .btn-dark img {
        width: 24px;
    }
    .header button {
        font-weight: 500;
        padding: 8px 18px;
    }
    .game-block{
        grid-template-columns: auto auto auto auto;
        gap: 8px;
     }
    .game-block .card{
        width: 80px;
        height: 80px;
    }
    .card .back img {
        width: 70px;
        height: 70px;
    }
    .tries{
        padding: 8px 24px;
        font-size: 18px;
    }
    .popup .msg {
        width: 85%;
        padding: 2rem 1rem;
    }
}